* {
	margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:500,700');


body {
	
	font-family: 'Quicksand', sans-serif;
	background: #ffffff;
}

header .head {
	
	float: left;
	display: block;
}

header .nav-bar {
	
	width: 10%;
	z-index: 1;
	height: 100%;
	float: left;
	visibility: visible;
	display: block;
	background: #E9E9E9;
	box-shadow: 8px 0px 13px -5px rgba(0, 0, 0, 0.16);
	transition: 2s;
	position: relative;
	animation: slider-leftbar 0.5s ease-out;
	animation-fill-mode: forwards;
}

@keyframes slider-leftbar {
	
	from{ left: -250;}
	to { left:0;}
	
}

header .nav-bar .brand {
	
	min-width:25px ;
	min-height: 25px;
	max-width: 150;
	max-height: 150px;
	background-image: url(/prototype/joba/versao2/assets/images/nome.png);
	background-size: 130px;
	background-position: center;
	background-repeat: no-repeat;
	padding: 10px 15px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 0px;
	
}

header ul {
	
	padding: 0px;
	margin: 0px;
	display: block;
	text-align: center;
	list-style: none;
}

header ul li {
	cursor: pointer;
	width: 100%;
	color: black;
	height: 50px;
	font-size: 20px;
	padding: 25% 0px;
	margin: 0;
	font-weight: bold;
	border-radius: 5px;
	transition: 0.3s ease-in;
	
}

header ul li:hover {
	
	color: white;
	transform: scale(1.05);
	background: rgb(234, 71, 71);
}


header ul li span:after {
	
	color: white;
	content:'___________________';
	font-family: sans-serif;
	font-weight: bold;
	font-size: 0;
	transition:0.5s ease-out;
	
}

header ul li:hover span:after {
	
	content:'_____________________________';
	font-size: 10px;
	
}

.search-container{
	text-align: center;
	z-index:3;
	display:inline-block;
	margin:auto;
	height: 70;
	background-color: black;
	border-radius: 5px;
	
}

.page-container {
	
	width: 93vw
}

.page-container article {
	
	display: inline-block;
	margin: auto;
	z-index: -1;
	min-height: 350px;
	width: 350px;
	margin: 3vh 3vw;
	padding: 25px;
	border: 2px solid rgb(224, 224, 224);
	border-radius: 10px;
	box-shadow: rgb(199, 199, 199) 0px 3px 0px 0px;
}

.page-container article img {
	
	display: block;
	margin: auto;
}

.page-container article hr {
	
	margin: 10px;
	border: 2px solid #e2e2e2;
	border-radius: 10px;
}

.page-container article p {
	
	font-size: 25px;
	text-align: center;
}